# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=to_do_app
DB_USER=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_USER_PASSWORD
# JWT
JWT_SECRET=YOUR_GENERATED_SECERT_TOKEN
JWT_EXPIRE=1d

# CORS
FRONTEND_URL=URL_TO_FRONTEND